:root {
    /* Colors */
  --blue_BOTW: #3C4E80;
  --red_BOTW: #8C364D;
  --beige_BOTW: #fdf6eb;
  --black_custom: #333;
}

h1,
h2 {
  color: var(--black_custom);
}

h2 {
  margin-top: 1em;
  padding-top: 0em;
}

h3,
strong {
  color: #444;
}

small {
  font-size: .7421875rem;
  color : #4F4F4F;
  background:white;
}

body {
  margin: 0 auto;
  line-height: 1.5;
  padding: 2em 1em;
  max-width: 50em;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  color: #555;
  background: var(--beige_BOTW)
}

a { color: var(--blue_BOTW) }

a:hover, a:focus{
  color: white;
  background:  var(--blue_BOTW)
}

.contact {
  display: block;
  width: fit-content;
  max-width: 500px;
  padding: 5px 10px 5px 10px;
  border: solid 2px var(--black_custom);
  background:var(--beige_BOTW);
  color: var(--black_custom);
  text-decoration: none;
}

.contact:hover, .contact:focus{
  cursor: pointer;
  background:var(--blue_BOTW);
  color: var(--beige_BOTW);
}

.doteLine {
  margin:4em 1em;
  height:2px;
  background:
    repeating-linear-gradient(to right,var(--black_custom) 0,var(--black_custom) 3px,transparent 3px,transparent 7px)
}

.date {
  color : var(--red_BOTW);
  font-weight: bold;
}

blockquote {
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
  max-width: 500px;
}

.quote {
  margin: 2em auto;
  border: solid 2px var(--black_custom);
  box-shadow: 15px 15px 0 0 var(--black_custom);
}

.quote_work_experience {
  margin: 0.5em auto 1em 3.5em;
  max-width: 750px;
  border-left: 3px solid var(--red_BOTW);
  background: #F0EEEB;
  font-style: italic;
  font-size: .8421875rem;
}


.skills {
  list-style: none;
  padding: 0;
  height: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
}

.skills li {
  display: inline-block;
}

.skill {
  background: var(--red_BOTW);
  color: var(--beige_BOTW);
  padding: 0 0.5em 0.10em 0.5em;
  margin: auto 0.05em 0.25em 0.05em;
  font-size: .8421875rem;
  border-radius:3px;
}

.skill.programmation-related{
  background: var(--blue_BOTW);
}



.DataWebpage{ max-width:12em; }
